<section id="exerciseSection" class="exercise-section">
  <div id="exerciseList" class="exercise-list"></div>
  <div id="exercises" class="tui-pagination"></div>
  <div class="content-container main-container">
    <div class="sidebar-container">
      <ul class="sidebar-list">
        <li>
          <div class="daily-quote-container">
            <div class="icon-circle">
              <svg class="icon-svg" width="20" height="20">
                <use href="./image/icons.svg#icon-pedastrian"></use>
              </svg>
            </div>
            <h3 id="quote" class="daily-quote-title">Quote of the day</h3>
            <svg class="commas-svg">
              <use href="./image/icons.svg#icon-inverted-commas"></use>
            </svg>
          </div>
          <div class="quote-wrapper js-quote-content"></div>
        </li>
        <li class="image-container">
          <div class="image-bg"></div>
          <div class="link-block">
            <a href="./partials/11-modal-bmi.html" class="bmi-link">BMI</a>
            <p class="bmi-description">Calculator</p>
          </div>
        </li>
        <li>
          <div class="info-card">
            <div class="icon-wrapper">
              <svg class="card-icon-svg" width="20" height="20">
                <use href="./image/icons.svg#icon-gym"></use>
              </svg>
            </div>
            <h3 class="card-title">110 min</h3>
            <h4 class="card-subtitle">Daily norm of sports</h4>
            <p class="card-text">
              The World Health Organization recommends at least 150 minutes of
              moderate-intensity aerobic physical activity throughout the week
              for adults aged 18-64. However, what happens if we adjust that
              number to 110 minutes every day? While it might seem like a high
              number to hit, dedicating 110 minutes daily to sporting activities
              may offer unparalleled benefits to physical health, mental
              well-being, and overall quality of life.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
