<footer class="footer">
  <div class="container">
    <a href="./" class="footer-logo logo link">
      <svg class="logo-icon" width="132" height="24">
        <use href="./image/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="social-list social-list_dark">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook link"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./image/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram link"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./image/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube link"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./image/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <strong class="footer-slogan"
      >Transforming your <i>body</i> shape with us</strong
    >
    <form>
      <h3>Subscribe and learn about new exercises!</h3>
      <label>
        <input type="text" />
      </label>
      <button type="submit">Send</button>
    </form>

    <div class="copyright">
      <p class="copyright-text">Your Energy. All rights reserved.</p>
      <ul class="copyright-list">
        <li class="copyrigth-item">
          <a class="copyright-link" href="./privacy-policy.html" target="_blank"
            >Privacy Policy</a
          >
        </li>
        <li class="copyrigth-item">
          <a class="copyright-link" href="./privacy-policy.html" target="_blank"
            >Terms of Service</a
          >
        </li>
      </ul>
      <p class="copyright-date">&#169;2023</p>
    </div>
  </div>
</footer>
