<!-- FOOTER -->
<footer class="footer footer-fixed" id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <!-- footer thumb -->
      <div class="footer-thumb">
        <!-- footer logo -->
        <a
          href="./index.html"
          class="footer-logo logo link"
          aria-label="site logo"
        >
          <svg class="logo-icon" width="132" height="24">
            <use href="./image/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <!-- footer social list -->
        <ul class="social-list social-list_dark">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="facebook link"
            >
              <svg class="social-icon">
                <use href="./image/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="instagram link"
            >
              <svg class="social-icon">
                <use href="./image/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="youtube link"
            >
              <svg class="social-icon">
                <use href="./image/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!-- footer box -->

      <div class="footer-box">
        <!-- footer slogan -->
        <strong class="footer-slogan"
          >Transforming your <i>body</i> shape with us</strong
        >
        <!-- footer subscribe form -->
        <form class="subscribe" id="js-subscribe">
          <strong class="subscribe-slogan">
            Subscribe and learn about new exercises!
          </strong>
          <label class="subscribe-label">
            <span class="subscribe-label-text">Email</span>
            <input
              class="subscribe-input subscribe-item"
              type="text"
              name="email"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              required
              autocomplete="email"
            />
          </label>
          <button
            class="subscribe-button subscribe-item"
            name="subscribeBtn"
            type="submit"
          >
            <span class="subscribe-button-text">Send</span>
            <span
              class="spinner visually-hidden"
              id="js-subscribe-spinner"
            ></span>
          </button>
        </form>
      </div>
    </div>

    <!-- footer copyright -->
    <div class="copyright">
      <p class="copyright-text">Your Energy. All rights reserved.</p>
      <ul class="copyright-list">
        <li class="copyright-item">
          <a
            class="copyright-link"
            href="./privacy-policy.html"
            target="_blank"
            aria-label="privacy policy link"
            >Privacy Policy</a
          >
        </li>
        <li class="copyright-item">
          <a
            class="copyright-link"
            href="./terms.html"
            target="_blank"
            aria-label="terms of service link"
            >Terms of Service</a
          >
        </li>
      </ul>
      <p class="copyright-date">&#169;2023</p>
    </div>
  </div>
</footer>
