<section id="hero-section" class="hero-section">
  <div class="hero-section-container container">
    <div class="title-wraper">
      <h1 class="hero-section-title">Get <i>Body</i> in shape, Stay healthy</h1>
    </div>
    <p class="hero-section-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>

    <div class="hero-section-image-container">
      <picture>
        <source
          srcset="./image/Imagedesk.jpg 1x, ./image/Imagedesk@2x.jpg 2x"
          media="(min-width: 1440px)"
        />

        <source
          srcset="./image/Imagetab.jpg 1x, ./image/Imagetab@2x.jpg 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="./image/Imagemob.jpg 1x, ./image/Imagemob@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          class="hero-section-image"
          src="./image/Imagemob.jpg"
          alt="girl workout "
        />
      </picture>
    </div>

    <div class="hero-section-box">
      <div class="hero-section-tags-image">
        <img
          srcset="./image/imagedesk2.jpg 1x, ./image/imagedesk2@2x.jpg 2x"
          src="./image/imagedesk2.jpg "
          alt="legs"
          loading="lazy"
        />
      </div>
      <ul class="hero-section-list">
        <li class="hero-section-item">&num;Sport</li>
        <li class="hero-section-item">&num;Healthy</li>
        <li class="hero-section-item">&num;Workout</li>
        <li class="hero-section-item">&num;Diet</li>
      </ul>
    </div>
  </div>
</section>
