<section id="hero-section" class="hero-section">
  <div class="hero-section-container container">
    <div class="title-wraper">
      <h1 class="hero-section-title">Get <i>Body</i> in shape, Stay healthy</h1>
    </div>
    <p class="hero-section-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>

    <div class="hero-section-image-container">
      <picture>
        <source
          srcset="./image/hero-desktop.jpg 1x, ./image/hero-desktop@2x.jpg 2x"
          media="(min-width: 1440px)"
        />

        <source
          srcset="./image/hero-tablet.jpg 1x, ./image/hero-tablet@2x.jpg 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="./image/hero-mobile.jpg 1x, ./image/hero-mobile@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          class="hero-section-image"
          src="./image/hero-mobile.jpg"
          alt="girls workout"
        />
      </picture>
    </div>

    <div class="hero-section-box">
      <div class="hero-section-tags-image">
        <img
          srcset="
            ./image/hero-desktop-add.jpg    1x,
            ./image/hero-desktop-add@2x.jpg 2x
          "
          src="./image/hero-desktop-add.jpg"
          alt="leg training"
          loading="lazy"
        />
      </div>
      <ul class="hero-section-list">
        <li class="hero-section-item">&num;Sport</li>
        <li class="hero-section-item">&num;Healthy</li>
        <li class="hero-section-item">&num;Workout</li>
        <li class="hero-section-item">&num;Diet</li>
      </ul>
    </div>
  </div>
</section>
