.categories-section {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .categories-section {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .categories-section {
    flex-grow: 1;
    margin-bottom: 0;
    order: 2;
  }
}
.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 900px;

  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .categories-list {
    column-gap: 15px;
    row-gap: 32px;

    margin-bottom: 32px;
  }
}

.categories-card-item {
  width: 100%;

  min-height: 242px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: box-shadow var(--animation-fast);
}
.categories-card-item:hover {
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 768px) {
  .categories-card-item {
    min-height: 225px;
    max-width: calc((100% - (2 * 15px)) / 3);
  }
}

.categories-card-title {
  text-align: center;
  max-width: 100%;
  color: rgba(244, 244, 244, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
}

.categories-card-text {
  text-align: center;
  max-width: 100%;
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
