h2 {
  font-family: 'DM Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 135.714% */
  letter-spacing: -0.56px;
}

.search-form {
  max-width: 335px;
  max-height: 48px;
  position: relative;
  margin-top: 40px;
}
.form-input {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 0 14px;
  align-items: center;
  gap: 10px;
  outline: none;
  border-radius: 30px;
  border: 1px solid #242424;
}
.form-input:active {
  border: 1px solid #242424;
}
.form-input[type='text']::placeholder {
  color: #242424;
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.search-button {
  position: absolute;
  right: 14px;
  top: 13px;

  background-color: transparent;
  border: none;
  /* width: 18px; */
  /* height: 18px; */
}

.category-list_buttons {
  display: flex;
  gap: 20px;
}
.category-button {
  color: rgba(36, 36, 36, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

  background-color: transparent;
  border: none;
  padding: 10px 0;
  padding-bottom: 4px;
}

.selected {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: #242424;
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 2px;
  color: #242424;
}

/* response */
@media only screen and (min-width: 768px) {
  .category-elements {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .category-list_buttons {
    max-height: 48px;
  }
  .search-form {
    width: 273px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .filter_panel {
    display: flex;
    justify-content: space-between;
  }
  .category-elements {
    margin-top: 0;
  }
  .search-form {
    margin-right: 30px;
  }
}
