.home-wrapper {
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .home-wrapper {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .home-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 132px;
  }
}
.home-thumb {
  position: relative;
  flex-grow: 1;
}
@media screen and (min-width: 1440px) {
  .home-thumb {
    order: 2;
  }
}
