.exercise-section {
  /* display: flex;
  flex-direction: column; */
}

.main-container {
  /* display: flex;
  flex-direction: column; */
}

.pagination-container {
  /* order: 1;
  margin-bottom: 20px; */
}

/* @media screen and (min-width: 1440px) {
  .content-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar-container {
    order: 1;
    flex: 1;
  }

  .pagination-container {
    order: 2;
    flex: 1;
  }
} */

.sidebar-container {
  /* width: 100%; */
  /* padding-top: 80px; */
}

@media screen and (min-width: 768px) {
  .sidebar-container {
    /* padding-top: 64px; */
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-container {
    width: 444px;
    padding-top: 0;
  }
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .sidebar-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.daily-quote-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--black);
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  .daily-quote-container {
    gap: 16px;
    padding: 40px;
    margin-bottom: 0;
    max-width: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .daily-quote-container {
    width: 444px;
    min-height: 242px;
  }
}

.icon-circle {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 32px;

  border-radius: 50%;
  background: var(--grey-twenty);
}

@media screen and (min-width: 768px) {
  .icon-circle {
    top: 59px;
    left: 50px;
  }
}
.quote-text {
  margin-bottom: 16px;
  color: var(--grey-sixty);
}

@media screen and (min-width: 768px) {
  .quote-text {
    font-size: 14px;
    line-height: 129%;
  }
}
.quote-author {
  color: var(--primary);
}
@media screen and (min-width: 768px) {
  .quote-author {
    font-size: 16px;
    line-height: 1.5;
  }
}

.icon-svg {
  fill: var(--white-cl);
}
.quote-tittle-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .quote-tittle-box {
    margin-bottom: 6px;
  }
}

.daily-quote-title,
.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: var(--white-cl);
}

.commas-svg,
.aside__commas-svg {
  width: 16px;
  height: 13px;
  fill: var(--white-cl);
}

@media screen and (min-width: 768px) {
  .daily-quote-title,
  .card-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .commas-svg,
  .aside__commas-svg {
    top: 40px;
    right: 40px;
    width: 20px;
    height: 20px;
  }
}

.quote-wrapper,
.aside-quote__wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 141px; */
}

.image-container {
  /* min-height: 209px; */
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .image-container {
    margin-bottom: 0;
  }
}

/* .image-bg {
  border-radius: 20px;
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url('../img/exercise-image-mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
  width: 100%;
  height: 242px;
} */

.image-bg:hover,
.image-bg:focus {
  filter: brightness(0.8);
}

.link-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bmi-link {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  color: var(--white-cl);
}

.info-card {
  display: flex;
  gap: 20px;
  /* cursor: initial; */
  /* position: relative; */
  /* width: 100%; */
  min-height: 201px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--white-cl);
}
.icon-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark);
}

@media screen and (min-width: 768px) {
  .info-card {
    max-width: 400px;
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .info-card {
    width: 444px;
    min-height: 315px;
  }
}

.card-icon-svg {
  fill: var(--primary);
}

.card-title {
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;

  color: #000;
}

@media screen and (min-width: 768px) {
  .card-title {
    font-size: 24px;
    line-height: 1.33;
  }
}

.card-text,
.card-subtitle {
  font-size: 14px;
  line-height: 1.29;
}
.card-subtitle {
  color: var(--dark-sixty);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .card-subtitle {
    margin-bottom: 20px;
  }
}

.card-text {
  color: var(--dark);
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blockquote {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
