/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./foonts.css');
@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./filter_panels.css');
@import url('./footer.css');
@import url('./social-list.css');
@import url('./hero.css');

body.fixed {
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 370px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
