/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./variables');
@import url('./reset.css');
@import url('./container.css');
@import url('./header.css');
@import url('./footer.css');

:root {
  font-family: 'DM Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--black-cl);
  background-color: var(--light-cl);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}
