@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./fonts.css');

.heading {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
.description {
  text-transform: uppercase;
}

.additional-text {
  text-transform: uppercase;
}
.text-upper {
  text-transform: uppercase;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 370px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
